@media (min-width:320px) {
   
    #contenedor {
        width: 100%;
    }

}


@media (min-width:481px) {}

@media(min-width: 641px) {

    #contenedor {
        width: 100%;
        
    }

    
}

@media(min-width: 1025px) {

    #contenedor {
        width: 100%;

    }


}