* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav {
    height: 120px;
    background: rgb(225, 224, 224);
    display: flex;
    text-align: left;
    padding: 10px;
    gap: 30px;
    border-bottom: 2px solid rgb(221, 218, 218);
    
}

.contenedor-subs-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   justify-content: center;
   align-items: flex-end;
}


.nav img {
    width: 100px;
    height: 100px;
    border-radius: 35px;
}

.nav h1 {
    color: rgb(71, 70, 70);
    text-shadow: 2px 1px 2px rgb(248, 248, 248);
}

.nav h3 {
    color: rgb(67, 66, 66);
}

#contenedor {
    position: absolute;
    top: 120px;
    width: 100%;
    height: calc(100vh - 120px);
}

.leaflet-popup-content {
    width: 180px;
}

.leaflet-popup-content-wrapper{
    width: 500px;
}

.leaflet-control-layers {

    width: 28vw;
    height: 24vh;
  
    border: 2px solid #ccc;
    border-radius: 5px;
   
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Puedes ajustar esta distancia según sea necesario */
}




.leaflet-control-layers-expanded .leaflet-control-layers-list {
  
    /* Altura máxima del listado de capas */
    visibility: visible;
    
    /* Activar scroll vertical si hay muchas capas */
}

.leaflet-control-layers-expanded {
    display: block !important;
}

.leaflet-control-layers-overlays label {
    font-weight: normal;
    /* Estilo del texto de las etiquetas de las capas */
   
}

.leaflet-control-layers-overlays label:hover {
    background-color: #eaeaea;
    /* Color de fondo al pasar el mouse sobre una etiqueta */
    cursor: pointer;
    /* Cambiar cursor al pasar el mouse sobre una etiqueta */
}


.linea{
    width: 40px;
    height: 8px;
    background-color: #3da3e8;
}

.leaflet-control-layers-overlays input[type="checkbox"]{
    width: 30px;
    height: 30px;

}



.datos{
    font-size: 20px;
    margin-left: 10px;
}

.leaflet-container a{
   font-size: 14px;
}



.leaflet-tooltip-div-icon {
    background-color: none;
    border: none;
    box-shadow: none;
    font-size: 8px;
    color: red;
    line-height: 1;
}


.leaflet-control-geocoder-form{
    width: 500px;
    padding: 15px;
    font-size: 16px;}